.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add-mitzvot .card-body {
  display: none;
}

.mitzvot-heading {
  cursor: pointer;
  user-select: none;
}

.mitzvot-list {
  font-size: 1.1em;
}

.mitzvot-list .mitzvot-item {
  border-bottom: 1px dotted gray;
}

.mitzvot-list .mitzvot-item:last-child {
  border-bottom: none;
}

.mitzvot-list .mitzvot-receptor {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.mitzvot-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.mitzvot-list .apt-date {
  font-style: italic;
}

.mitzvot-list .mitzvot-notes {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}

